<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.mapper.FundGroupMapper">

    <select id="selectAllFundGroup" resultType="com.neo.entity.Interval">
        select * from fund_group a,fund_group_details b,fund_basic c,strategy d
        where a.id = b.fund_group_id and b.fund_code = c.code and a.id = d.fund_group_id
    </select>

    <select id="selectAllFundGroupNum" resultType="com.neo.entity.Interval">
        select fund_group_id,count(fund_group_id) total from fund_group_details GROUP BY fund_group_id
    </select>

    <select id="selectById" resultType="com.neo.entity.Interval">
        select * from risk_income_interval e,fund_group a,fund_group_details b,fund_basic_data c,strategy d
        where a.id = b.fund_group_id and b.fund_code = c.code and a.id = d.fund_group_id and b.risk_income_interval_id = e.id and a.id = #{id}
    </select>
    <select id="getinterval" resultType="com.neo.entity.Interval">
        select * from strategy a,fund_group b,fund_basic_data e,fund_group_details c,risk_income_interval d
        where a.fund_group_id = b.id and b.id = c.fund_group_id and c.fund_code = e.code and c.fund_group_id=d.fund_group_id and d.id=c.risk_income_interval_id
        and d.id=#{subGroupId} and c.fund_group_id=#{id}
    </select>

    <select id="getProportion" resultType="com.neo.entity.Interval">
        select a.fund_income_type,a.fund_group_id,sum(proportion) proportion from (select * from fund_basic_data a,fund_group_details b
        where a.code = b.fund_code and fund_group_id = #{id}) a GROUP BY a.fund_income_type
    </select>

    <select id="selectReturnAndPullback" resultType="com.neo.entity.Interval">
        select * from risk_income_interval where fund_group_id = #{id} and id=#{subGroupId}
    </select>

    <select id="getPerformanceVolatility" resultType="com.neo.entity.RiskIncomeInterval">
        select * from risk_income_interval b,strategy a
        where a.fund_group_id=b.fund_group_id and a.fund_group_id = #{id} and a.cust_risk = #{cust_risk}
        and a.investment_horizon = #{investment_horizon} ORDER BY b.simulate_historical_year_performance
    </select>

    <select id="getRevenueContribution" resultType="com.neo.entity.Interval">
        select d.fund_income_type fund_income_type,sum(d.revenue_contribution) revenue_contribution from
        (select a.revenue_contribution,c.fund_income_type from fund_group_details a,risk_income_interval b,fund_basic_data c
        where a.fund_group_id = b.fund_group_id and a.fund_code = c.code and b.fund_group_id=#{id}
        and b.id=#{subGroupId}) d
        GROUP BY d.fund_income_type
    </select>

    <select id="getRiskController" resultType="com.neo.entity.RiskController">
        select * from riskcontroller where fund_group_id = #{id} and risk_income_interval_id = #{subGroupId}
    </select>
    
    <select id="getScaleMark" resultType="com.neo.entity.RiskIncomeInterval">
        select risk_num,income_num from risk_income_interval where fund_group_id=#{id}
    </select>
    <!--<select id="getFundList" parameterType="java.lang.String" resultMap="baseResultMap">-->
        <!--select * from fund_group a,fund_group_sub b-->
        <!--where a.id = #{id} and a.id = b.fund_group_id-->
    <!--</select>-->
    <select id="getFundList" parameterType="java.lang.String" resultType="java.lang.String">
        select fund_group_name from fund_group where id = #{id}
    </select>
    <resultMap id="baseResultMap" type="com.neo.entity.FundGroup1">
        <result column="id" property="id"/>
        <result column="fund_group_name" property="fund_group_name"/>
        <result column="status" property="status"/>
        <collection property="fundGroupDetails1s" ofType="com.neo.entity.FundGroupDetails1">
            <result column="id" property="id"/>
            <result column="fund_group_id" property="fund_group_id"/>
            <result column="risk_num" property="risk_num"/>
        </collection>
    </resultMap>

    <!--oracle-->
    <!--<select id="getFundList" parameterType="java.lang.String" resultMap="baseResultMap">-->
        <!--select * from T_UMS_USER a,T_UMS_USER_OPER_LOG b-->
        <!--where a.ID = #{id} and a.ID = b.USER_ID-->
    <!--</select>-->
    <!--<resultMap id="baseResultMap" type="com.neo.entity.FundGroup1">-->
        <!--<result column="ID" property="id"/>-->
        <!--<result column="IPS_USER_NAME" property="fund_group_name"/>-->
        <!--<result column="STATUS" property="status"/>-->
        <!--<collection property="fundGroupDetails1s" ofType="com.neo.entity.FundGroupDetails1">-->
            <!--<result column="LOG_ID" property="id"/>-->
            <!--<result column="USER_ID" property="fund_group_id"/>-->
            <!--<result column="OPER_TYPE" property="risk_num"/>-->
        <!--</collection>-->
    <!--</resultMap>-->
</mapper>